.img01 {
    filter: drop-shadow(8px 0px 5px #333);
    filter: grayscale(50%);
}

.img01:hover {
    filter: grayscale(0%);
}

.img02 {
    filter: drop-shadow(8px 0px 5px #333);
    filter: grayscale(50%);
}

.img02:hover {
    filter: grayscale(0%);
}

.img03 {
    filter: drop-shadow(8px 0px 5px #333);
    filter: grayscale(50%);
}

.img03:hover {
    filter: grayscale(0%);
}

.img04 {
    filter: drop-shadow(8px 0px 5px #333);
    filter: grayscale(50%);
}

.img04:hover {
    filter: grayscale(0%);
}