footer {
    box-sizing: border-box;
    width: 100%;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #BF8D7A;
    height: 30px;
}

.dev {
    margin: auto 0;
    padding-left: 15px;
}

.dev a {
    font-size: .8rem;
    text-decoration: none;
    color: #F2F2F2;
    list-style: none;
}

.social {
    margin: auto 0;
    padding-right: 15px;
}

.social a {
    font-size: .8rem;
    text-decoration: none;
    color: #F2F2F2;
    padding-left: 10px;
}

.social a img {
    filter: invert(100%);
}