footer {
    box-sizing: border-box;
    width: 100%;
}

footer .col-lg-10 {
    text-align: left;
    padding-left: 15px !important;
}

footer .col-lg-2 {
    text-align: right;
    padding-right: 15px !important;
}

footer .col-lg-2,
footer .col-lg-10 {
    margin: auto 0;
    padding: 5px 0;
}

.rodape {
    background-color: #BF8D7A;
    height: 100%;
}

.rodape a {
    font-size: .8rem;
    text-decoration: none;
    color: #F2F2F2;
    list-style: none;
}

.rodape a:hover {
    color: #F2F2F2;
}

.rodape img {
    filter: invert(100%);
}

@media (max-width: 768px) {
    footer .col-lg-10,
    footer .col-lg-2 {
        width: 50%;
    }
}