header {
    box-sizing: border-box;
    width: 100%;
}

header .col-lg-2 {
    text-align: left;
    padding-left: 15px !important;
}

header .col-lg-3 {
    text-align: right;
    padding-right: 15px !important;
}

header .col-lg-7 {
    text-align: center;
}

header .col-lg-2,
header .col-lg-7,
header .col-lg-3 {
    margin: auto 0;
    padding: 5px 0;
}

.navegacao img {
    width: 75px;
    height: 75px;
}

.navegacao h1 {
    color: #BF8D7A;
    font-weight: 600;
    font-size: 2rem;
}

.navegacao a {
    text-align: right;
    text-decoration: none;
    color: #BF8D7A;
    font-size: 1.1rem;
    padding-left: 5px;
}

.banner img {
    width: 100%;
    height: 100%;
}