header {
    box-sizing: border-box;
    width: 100%;
}

.logo {
    padding: 10px 15px;
}

.logo div {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
}

.logo img {
    width: 100%;
    margin: 0 auto;
}

.titulo {
    margin: auto 0;
}

.titulo h1 {
    color: #BF8D7A;
    font-weight: 600;
    font-size: 2rem;
}

.navegacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    height: 100%;
}

.compra {
    margin: auto 0;
    padding-right: 15px;
}

.compra a {
    text-decoration: none;
    color: #BF8D7A;
    font-size: 1.1rem;
    padding-left: 10px;
}

.banner img {
    width: 100%;
}