main {
    box-sizing: border-box;
    width: 100%;
    background-color: #F2F2F2;
}

.sobre {
    text-align: center;
}

.sobre-conteudo {
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid #592E2E;
    margin: 0 auto;
}

.sobre-titulo {
    background-color: #592E2E;
    width: 10%;
    height: 22px;
    margin: 0 auto;
}

.sobre-conteudo h3 {
    font-size: 1.2rem;
    color: #F2F2F2;
    font-family: 'Georama', sans-serif;
    font-style: italic;
}

.sobre-conteudo p {
    font-size: .8rem;
}