main {
    box-sizing: border-box;
    width: 100%;
    background-color: #F2F2F2;
}

.sobre {
    text-align: center;
    padding-top: 20px;
}

.sobre-conteudo {
    width: 65%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid #592E2E;
    margin: 0 auto;
}

.sobre-titulo {
    background-color: #592E2E;
    width: 15%;
    height: 32px;
    margin: 0 auto;
}

.sobre-conteudo h3 {
    font-size: 1.8rem;
    color: #F2F2F2;
    font-family: 'Georama', sans-serif;
    font-style: italic;
}

.sobre-conteudo p {
    font-size: 1.15rem;
}

.fotos {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.esquerda {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.direita {
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
}

.esquerda img,
.direita img {
    width: 425px;
}

.esquerda p {
    font-size: 1.25rem;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
}

.direita p {
    font-size: 1.25rem;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
}

.container01 {
    background-color: #a0a2a8;
    margin: auto 0;
    height: 60px;
}

.container02 {
    background-color: #E3C140;
    margin: auto 0;
    height: 60px;
}

.container03 {
    background-color: #CBDDEA;
    margin: auto 0;
    height: 60px;
}

.container04 {
    background-color: #C6B97E;
    margin: auto 0;
    height: 60px;
}

@media (max-width: 768px) {
    .esquerda,
    .direita {
        flex-direction: column;
        width: 50%;
    }
    .esquerda img,
    .direita img {
        width: 100%;
    }
    .esquerda p,
    .direita p {
        text-align: center;
        font-size: 1.1rem;
    }
    .sobre-titulo {
        width: 20%;
    }
    .sobre-conteudo p {
        padding: 0 10px;
    }
}

@media (max-width: 576px) {
    main {
        padding-top: 10px;
    }
    .sobre-conteudo {
        width: 85%;
        height: 420px;
    }
    .sobre-titulo {
        width: 35%;
    }
    .esquerda,
    .direita {
        position: relative;
        width: 50%;
    }
    .esquerda img,
    .direita img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .container01,
    .container02,
    .container03,
    .container04 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -85%);
    }
    .esquerda:hover img,
    .direita:hover img {
        opacity: 0.8;
    }
    .esquerda:hover .container01,
    .direita:hover .container02,
    .esquerda:hover .container03,
    .direita:hover .container04 {
        opacity: 1;
    }
    .container01 p {
        background-color: #a0a2a8;
        color: #000;
        font-size: 1.1rem;
        padding: 5px;
        margin-top: 0px;
    }
    .container02 p {
        background-color: #E3C140;
        color: #000;
        font-size: 1.1rem;
        padding: 5px;
        margin-top: 0px;
    }
    .container03 p {
        background-color: #CBDDEA;
        color: #000;
        font-size: 1.1rem;
        padding: 5px;
        margin-top: 0px;
    }
    .container04 p {
        background-color: #C6B97E;
        color: #000;
        font-size: 1.1rem;
        padding: 5px;
        margin-top: 0px;
    }
}