main {
    box-sizing: border-box;
    width: 100%;
    background-color: #F2F2F2;
}

.sobre {
    text-align: center;
    padding-top: 20px;
}

.sobre-conteudo {
    width: 65%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid #592E2E;
    margin: 0 auto;
}

.sobre-titulo {
    background-color: #592E2E;
    width: 15%;
    height: 32px;
    margin: 0 auto;
}

.sobre-conteudo h3 {
    font-size: 1.8rem;
    color: #F2F2F2;
    font-family: 'Georama', sans-serif;
    font-style: italic;
}

.sobre-conteudo p {
    font-size: 1.15rem;
}

.fotos {
    display: flex;
    flex-direction: column;
}

.esquerda {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.direita {
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
}

.esquerda img,
.direita img {
    width: 425px;
}

.esquerda p {
    font-size: 1.25rem;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
}

.direita p {
    font-size: 1.25rem;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
}

.container01 {
    background-color: #a0a2a8;
    margin: auto 0;
    height: 60px;
}

.container02 {
    background-color: #E3C140;
    margin: auto 0;
    height: 60px;
}

.container03 {
    background-color: #CBDDEA;
    margin: auto 0;
    height: 60px;
}

.container04 {
    background-color: #C6B97E;
    margin: auto 0;
    height: 60px;
}