.roupas {
    padding-top: 40px;
    padding-bottom: 30px;
}

.roupas .secao {
    background-color: #BF8D7A;
    margin-bottom: 40px;
}

.roupas h1 {
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    color: #F2F2F2;
}

.roupas h3 {
    font-family: 'Georama', sans-serif;
    padding-bottom: 15px;
    color: #BF8D7A;
}

.roupas .col-lg-3 {
    padding: 0 10px;
}

.card {
    height: 100%;
}

.card h6 {
    text-align: center;
    font-size: 1.565rem;
    font-family: 'Zen Loop', cursive;
    font-weight: 600;
}

.card img {
    width: 100%;
}

.card p {
    text-align: center;
    font-family: 'Georama', sans-serif;
}

.card a {
    text-align: center;
    text-decoration: none;
    color: #000;
}

.card-body {
    text-align: center;
}

button {
    font-family: 'Georama', sans-serif;
}

.btn-secondary {
    background-color: #A6654E !important;
    border-color: #A6654E !important;
}

.btn-secondary:hover {
    background-color: #D99B84 !important;
    border-color: #D99B84 !important;
}

.modal-content {
    text-align: center;
}

.modal-body,
.modal-footer {
    margin: 0 auto;
}

.modal-body th,
.modal-body td {
    padding: 0 5px;
}