@media (max-width: 768px) {
    .esquerda,
    .direita {
        flex-direction: column;
        width: 50%;
    }
    .esquerda img,
    .direita img {
        width: 100%;
    }
    .esquerda p,
    .direita p {
        text-align: center;
        font-size: 1.1rem;
    }
    .sobre-titulo {
        width: 20%;
    }
    .sobre-conteudo p {
        padding: 0 10px;
    }
    .roupas .col-lg-3 {
        margin-bottom: 30px;
    }
    .roupas .card {
        width: 70%;
        margin: 0 auto;
    }
    .roupas h3 {
        text-align: center;
    }
    .modal-content {
        margin-top: 120px;
    }
}

@media (max-width: 576px) {
    main {
        padding-top: 10px;
    }
    .sobre-conteudo {
        width: 85%;
        height: 420px;
    }
    .sobre-titulo {
        width: 35%;
    }
    .esquerda,
    .direita {
        position: relative;
        width: 50%;
    }
    .esquerda img,
    .direita img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .container01,
    .container02,
    .container03,
    .container04 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -85%);
    }
    .esquerda:hover img,
    .direita:hover img {
        opacity: 0.8;
    }
    .esquerda:hover .container01,
    .direita:hover .container02,
    .esquerda:hover .container03,
    .direita:hover .container04 {
        opacity: 1;
    }
    .container01 p {
        background-color: #a0a2a8;
        color: #000;
        font-size: 1.1rem;
        padding: 5px;
        margin-top: 0px;
    }
    .container02 p {
        background-color: #E3C140;
        color: #000;
        font-size: 1.1rem;
        padding: 5px;
        margin-top: 0px;
    }
    .container03 p {
        background-color: #CBDDEA;
        color: #000;
        font-size: 1.1rem;
        padding: 5px;
        margin-top: 0px;
    }
    .container04 p {
        background-color: #C6B97E;
        color: #000;
        font-size: 1.1rem;
        padding: 5px;
        margin-top: 0px;
    }
    .roupas h1 {
        text-align: center;
    }
    .roupas .secao {
        width: max-content;
    }
    .modal-content {
        margin-top: 70px;
    }
}