.img01 {
    width: 50%;
    margin-left: 10%;
}

.img02 {
    width: 50%;
    margin-right: 10%;
}

.img03 {
    width: 50%;
    margin-left: 10%;
}

.img04 {
    width: 50%;
    margin-right: 10%;
}