.primeira_imagem {
    display: flex;
    flex-direction: row;
    padding-top: 10%;
}

.segunda_imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
}

.terceira_imagem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
}

.quarta_imagem {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 10%;
}