.container-texto01 {
    background: #a0a2a8;
    height: max-content;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.container-texto02 {
    background: #E3C140;
    text-align: center;
    height: max-content;
    width: 50%;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.container-texto03 {
    background: #CBDDEA;
    text-align: center;
    height: max-content;
    width: 50%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
}

.container-texto04 {
    background: #C6B97E;
    height: max-content;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
}