.texto01 {
    font-size: 1.5rem;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding: 15%;
}

.texto02 {
    font-size: 1.5rem;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding: 15%;
}

.texto03 {
    font-size: 1.5rem;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding: 15%;
}

.texto04 {
    font-size: 1.5rem;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    padding: 15%;
}