@import url(rodape-img.css);
@import url(rodape-texto.css);
@import url(social.css);
.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #A0A2A8;
    width: 100vw;
}